@model IEnumerable<Infraestructure.Models.Producto>

@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mantenimientos ">
    <h2 class="titulos">Mantenimiento Productos</h2>

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 titulos sub_title"><h2>Producto <b>Detalles</b></h2></div>
                        <div class="col-12 col-sm-6">
                            <button class="btn btn-warning add_new">
                                <i class="fa fa-plus">@Html.ActionLink("Nuevo producto", "Create", "Producto", null, new { @class = "add_new" })</i>
                            </button>


                        </div>
                        <div class="col-sm-6 d-none">
                            <div class="search-box">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Buscar&hellip;">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ingredientes)
                        </tr>
                    </thead>
                    <tbody id="resultado">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    ₡@Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ingredientes)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Producto", new { id = item.Id })" class="view" title="Detalle" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Edit", "Producto", new { id = item.Id })" class="edit" title="Editar" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="delete" title="Borrar" data-toggle="tooltip"><i class="fa fa-trash"></i></a>


                                    <!--<a href="" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Editar</a>-->
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.IdLibro }) |*@
                                    <!--<a href="@Url.Action("Details", "Libro", new { id = item.Id })" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Detalle</a>-->
                                    @*@Html.ActionLink("Details", "Details", new { id = item.IdLibro }) |*@

                                    <!--|@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })-->
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                @*<div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item active"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>



<!--<p>
    <a href="@Url.Action("Create", "Libro")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Crear</a>-->
@*@Html.ActionLink("Crear", "Create")*@
<!--</p>-->
<!--<div class="row">
    <div class="col-lg-8">

        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ingredientes)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="resultado">

                    <tr>


                    </tr>
                }
            </tbody>

        </table>
    </div>-->
@*<div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">Buscar Libro por nombre</h5>
            @using (Ajax.BeginForm("buscarLibroxNombre", "Libro", new AjaxOptions
            {
                UpdateTargetId = "resultado",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",

            }))
            {
                <div class="card-body">
                    <div class="input-group">
                        @Html.TextBox("filtro", "",
                       new
                            {
                                @class = "form-control",
                       @placeholder = "Nombre Libro"
                       })
                        <button type="submit" class="btn btn-default">Buscar</button>

                    </div>
                </div>
            }


        </div>
    </div>*@
@*</div>*@

@*@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
    <script>
        $(function(){
            var lista =@Html.Raw(Json.Encode(ViewBag.listaNombres));
            $("#filtro").autocomplete({
                source: lista
            });
        });
    </script>*@


